@* 
Copyright (c) Microsoft Corporation.
Licensed under the MIT license. 
*@

@page "/NonUser"

<PageTitle>NonUserPage</PageTitle>

<h1 style="color:grey"><img src="Images/Microsoft-Logo.png" height="125px" style="margin-bottom: 0.5rem;" />  |  Group Membership Management</h1>

<p>Welcome to the Group Membership Management interface!</p>

<br />
<p>Please log in to access this resource.</p>