<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script type="application/adaptivecard+json">
  {
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
	"originator": "3c2006a7-730c-42a5-8246-2f7227dcd667",
    "version": "1.0",
    "body": [
        {
            "type": "ColumnSet",
            "id": "1ede2aba-61b9-faa0-9895-9ed0c26b2e6f",
            "columns": [
                {
                    "type": "Column",
                    "id": "e5756242-0963-37a2-7cb4-4397886d60bb",
                    "padding": "None",
                    "width": "stretch",
                    "items": [
                        {
                            "type": "TextBlock",
                            "id": "20f3833e-0435-5c87-fad1-b528e0046fb6",
                            "text": "Microsoft Group Membership Management",
                            "wrap": true
                        }
                    ],
                    "verticalContentAlignment": "Center"
                }
            ],
            "padding": {
                "top": "Small",
                "bottom": "Small",
                "left": "Default",
                "right": "Small"
            },
            "style": "emphasis"
        },
        {
            "type": "Container",
            "id": "fbcee869-2754-287d-bb37-145a4ccd750b",
            "padding": "Default",
            "spacing": "None",
            "items": [
                {
                    "type": "TextBlock",
                    "id": "44906797-222f-9fe2-0b7a-e3ee21c6e380",
                    "text": "{0}",
                    "wrap": true,
                    "weight": "Bolder",
                    "size": "Large",
                    "style": "heading"
                },
                {
                    "type": "TextBlock",
                    "id": "f7abdf1a-3cce-2159-28ef-f2f362ec937e",
                    "text": "{1}",
                    "wrap": true
                }
            ]
        },
        {
            "type": "Container",
            "id": "77102c5d-fde2-e573-4ea5-66022d646d64",
            "padding": {
                "top": "Small",
                "bottom": "Small",
                "left": "Small",
                "right": "Default"
            },
            "spacing": "None",
            "separator": true,
            "items": [
                {
                    "type": "TextBlock",
                    "id": "42654e7e-cece-b419-867a-3e3ef4076870",
                    "text": "[View group in portal](https://ms.portal.azure.com/#view/Microsoft_AAD_IAM/GroupDetailsMenuBlade/~/Overview/groupId/{2})",
                    "wrap": true,
                    "color": "Accent",
                    "horizontalAlignment": "Right"
                }
            ],
            "horizontalAlignment": "Right"
        }
    ],
    "padding": "None",
    "@type": "AdaptiveCard",
    "@context": "http://schema.org/extensions"
}
  </script>
</head>
<body>
</body>
</html>