@* 
Copyright (c) Microsoft Corporation.
Licensed under the MIT license. 
*@

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="/">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
